body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('photo/server.avif');
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
/* სათაური*/
 header {
    background-image: url('photo/code.jpg');
    color: rgb(255, 145, 0);
    text-align: center;
    padding: 3%px;
    font-size: 1.5em;
}
/* ნავიგაცია*/
nav {
    background: rgb(92, 92, 92);
    color: white;
    padding: 1%;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 3%;
}

aside{
    width: auto;
    background: rgba(151, 111, 0, 0.897);
    border-radius: 10px;
    display: grid;
    text-align: center;
    grid-template-columns:subgrid;
    font-size: 1.2em;
    border-radius: 3cap;
}
main{
    border-radius:3cap;
    text-align: center;
    top: 0%;
    left: 0%;
    background-color: rgb(0, 24, 90);
.gallery {
    
    display: grid;
    grid-template-columns:auto;
    justify-content: center;
    gap:20px;
  }
  
  .image-card {
    flex: 1 1 1 ;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    background: #444;
  }
    
  
  .image-card img {
    width: auto;
    height: 400px;
    object-fit: cover;
    display: block;
  }
}

footer {
    height: 100%;
    font-size: 1.3em;
    background: #222222;
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 10px;
}


/* ტელეფონის ვერსია (456px და ნაკლები) */
@media (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
    }
    figure img {
      width: 100%;
    }
    aside {
        width: 50%;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 25%;
        margin-top: 10%;
    }
    main {
        width: auto;
        height: auto;
        padding: 20px;
    }

    main.gallery {
        padding: 0px;
        
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}


/* პლანშეტის ვერსია (577px - 991px) */
@media (min-width: 577px) and (max-width: 991px) {
    .container {
        grid-template-columns: 250px 1fr;
        padding: 20px;
    }
    figure img {
        width: 100%;
      }
    aside {
        width: 40%;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 25%;
        margin-top: 10%;
    }
    main {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
    }
    main.gallery {
        padding: 20px;
        margin: 20px;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }
}


/* კომპიუტერის ვერსია (992px და ზემოთ) */
@media (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        align-items: start;
    }
    figure img {
        width: 100%;
      }
    aside {
        width: auto;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 0%;
        margin-top: 15%;
    }

    main {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
    }

    main.gallery{
        padding: 0px;
        margin-inline: 0%;
        margin-block: 0%;
        margin-top: 0%;
    }
}





