body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('photo/server.avif');
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
 header {
    background-image: url('photo/code.jpg');
    color: rgb(255, 145, 0);
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}
nav {
    background: rgb(92, 92, 92);
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
aside {
    width:300px;
    background: rgba(255, 255, 0, 0.897);
    text-align: center;
    border-radius:4cap;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.700);
    display: grid;
    grid-template-columns: none;
    top: 0;
    left: 0;
}
figure img {
    width: 80%;
        top: 0%;
        left: 0%;
        margin-bottom: 20%;
        border-radius:20cap;
        margin-top: 20%;
        background-color: rgb(0, 0, 0);
    }
main {

    width:300px;
    background: rgba(255, 255, 255, 0.897);
    text-align: center;
    border-radius:4cap;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.700);
    display: grid;
    grid-template-columns: none;
    top: 0;
    left: 0;
    section{
    
        background-color: rgb(0, 255, 55);
        border-radius: 1cap;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.700);
        font-size: 1.2em;
       }
}
footer {
    background: #222222;
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 10px;
}


/* ტელეფონის ვერსია (456px და ნაკლები) */
@media (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
    }
    figure img {
      width: 100%;
    }
    aside {
        position: static;
        padding: 0px;
        margin-top: 10%;
    }
    main {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
    }

    main section {
        padding: 0px;
        margin-inline: 0%;
        margin-block: 50%;
        margin-top: 0%;
        
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}


/* პლანშეტის ვერსია (577px - 991px) */
@media (min-width: 577px) and (max-width: 991px) {
    .container {
        grid-template-columns: 250px 1fr;
        padding: 20px;
    }
    figure img {
        width: 100%;
      }
      aside {
        
        height: 89%;
        position: static;
        padding: 0px;
        margin-left: 0%;
        margin-top: 27%;
        figure img {
            margin-bottom: 80%;
        }
    }
    
    main {
        width: auto;
        height: auto;
        margin: 10% ;
        padding: 20px ;
        
    }
    main section {
        padding: 20px;
        margin: 20px;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }
}


/* კომპიუტერის ვერსია (992px და ზემოთ) */
@media (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 300px 1fr; /* aside | main */
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        align-items: start;
    }

    aside {
        
        height: 87%;
        position: static;
        padding: 0px;
        margin: 10%;
        margin-inline: 30%;
        margin-top: 29%;
        figure img {
            margin-bottom: 80%;
        }
    }
    
    main {
        width: auto;
        height: auto;
        margin: 10%;
        padding: 5%;
    }

    main section {
        padding: 20px;
        margin-inline: 25%;
        margin-block: 15%;
        margin-top: 5%;
    }
}