body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('photo/server.avif');
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
header {
    background-image: url('photo/code.jpg');
    color: rgb(255, 145, 0);
    text-align: center;
    padding: 0%;
    font-size: 1.5em;
}
nav {
    background: rgb(92, 92, 92);
    color: white;
    padding: 1%;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 3%;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

aside {
    
    background: rgba(255, 255, 0, 0.897);
    text-align: center;
    border-radius:4cap;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.700);
    display: grid;
    grid-template-columns: none;
    
}
figure img {
    top: 0%;
    left: 0%;
    border-radius:20cap;
}
main{
    height: auto;
    background: rgba(151, 111, 0, 0.897); 
    border-radius:3cap;
    top: 0%;
    left: 0%;
section{
    background-color: rgb(0, 24, 90);
    border-radius: 1cap;

    box-shadow: 0 0 10px rgba(255, 0, 0, 0.700);
    font-size: 1.2em;

}
}
main p{
color:beige;
}
main h2{
    color: aqua;
}
main a{
    color:rgb(255, 123, 0);
    text-decoration:none;
    font-size: 1.2em;
    font-weight:bolder;
}

footer {
    background: #222222;
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 10px;
}
footer a{
    
    color: rgb(0, 102, 255);
    text-decoration: none;
    margin: 0 3%;
}
.button {
    display: inline-block;
    padding: 2% 5%;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 100cap;
    transition: 0.3s;
    position: relative;
}
.button:hover {
    background: #3eb426;
}
#messenger-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0084ff;
    color: white;
    font-size: 25px;
    text-decoration: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    z-index: 9999;
}

#messenger-btn:hover {
    background-color: #006edc;
    transform: scale(1.1);
}


/* ტელეფონის ვერსია (576px და ნაკლები) */
@media (max-width: 576px) {
    
    .container {
        grid-template-columns: 1fr;
    }
    figure img {
    width: 100%;
    }
    aside {
        width: 80%;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 8%;
        margin-top: 10%;
    }
    main {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
    }

    main section {
        padding: 0px;
        margin-inline: 0%;
        margin-block: 50%;
        margin-top: 0%;
        
    }

    nav a {
        display: block;
        margin: 0;
    }
    .button{
        font-size: 0.8em;
    }
    .burger-toggle {
    display: none;
    }

    .burger-icon {
    display: block;
    background: #444;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        background: #333;
        text-align: center;
    }

    .burger-menu a {
    color: white;
    padding: 10px;
    border-bottom: 1px solid #555;
    text-decoration: none;
    font-weight: bold;
    }

    .burger-toggle:checked + .burger-icon + .burger-menu {
    display: flex;
    }
    #messenger-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #0084ff;
        color: white;
        font-size: 25px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
        z-index: 9999;
    }
    
    #messenger-btn:hover {
        background-color: #006edc;
        transform: scale(1.1);
    }
    
}



/* პლანშეტის ვერსია (577px - 991px) */
@media (min-width: 577px) and (max-width: 991px) {
    .container {
        grid-template-columns: 250px 1fr;
        padding: 20px;
    }
    figure img {
        width: 100%;
    }
    aside {
        width: 50%;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 25%;
        margin-top: 10%;
    }
    main {
        width: auto;
        height: auto;
        margin: 5%;
        padding: 5%;
    }
    main section {
        padding: 20px;
        margin: 20px;
    }

    nav a {
        display: inline-block;
        margin: 0;
    }
    .burger-icon {

        background: #444;
        color: white;
    

    }
    .button{
        font-size: 0.8em;
    }
    .burger-toggle {
    display: none;
    }
    #messenger-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #0084ff;
        color: white;
        font-size: 25px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
        z-index: 9999;
    }
    
    #messenger-btn:hover {
        background-color: #006edc;
        transform: scale(1.1);
    }
    
}


/* კომპიუტერის ვერსია (992px და ზემოთ) */
@media (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: 300px 1fr; /* aside | main */
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        align-items: start;
    }
    figure img {
        width: 100%;
        margin-inline: 5%;

    }
    aside {
        width: 40%;
        height: auto;
        position: static;
        padding: 0px;
        margin-inline: 30%;
        margin-top: 10%;
    }

    main {
        width: auto;
        height: auto;
        
        margin: 5%;
        padding: 5%;
    }

    main section {
        padding: 0px;
        margin-inline: 15%;
        margin-bottom: 20%;
        margin-top: 0%;
    }
    .burger-icon {

        background: #444;
        color: white;
    

    }
    .button{
        font-size: 0.8em;
    }
    .burger-toggle {

        display: none;
    }
    #messenger-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #0084ff;
        color: white;
        font-size: 25px;
        text-decoration: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
        z-index: 9999;
    }
    
    #messenger-btn:hover {
        background-color: #006edc;
        transform: scale(1.1);
    }
    
}

